@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);
/* As hex codes */

.color-primary-0 { color: #BFEB64 }	/* Main Primary color */
.color-primary-1 { color: #A1D23A }
.color-primary-2 { color: #85B818 }
.color-primary-3 { color: #689707 }
.color-primary-4 { color: #4C7100 }

body{
	font-family: 'Roboto', sans-serif;
}

/* NAVBAR ===================================================== */
.navbar .fa{
	width:16px;
	text-align: center;
}
.navbar{
	border-radius: 0px;
}

.navbar-default{
	background-color: #85B818;
	border: none;
}
.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: #689707;
}

.navbar-brand{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 24px;
}
.navbar-brand .glyphicon{
	font-size: 20px;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{
	color: #689707;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus{
	background-color: #689707;
	color: white;
}

/* NAVBAR ===================================================== */

.green-thumb{
	background-color: #85B818;
	border: none;
	color: white;
}

.green-thumb h1{
	font-size: 48px;
}

.green-caption p,
.green-caption h3,
.green-caption label{
	color:white;
}
.green-caption h3{
	margin-top: 10px;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active:active{
	background-color: #689707;
	border-color: #689707;
}

button:focus,
button:active{
    outline:none !important;
}

input[type=range].thumb-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}
input[type=range].thumb-slider:focus {
  outline: none;
}
input[type=range].thumb-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  box-shadow: 0.px 0.px 2px #000000, 0px 0px 0.px #0d0d0d;
  background: #689707;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].thumb-slider::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 0.5px #000000, 0px 0px 0.5px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.2px;
}
input[type=range].thumb-slider:focus::-webkit-slider-runnable-track {
  background: #79af08;
}
input[type=range].thumb-slider::-moz-range-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  box-shadow: 0.px 0.px 2px #000000, 0px 0px 0.px #0d0d0d;
  background: #689707;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].thumb-slider::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 0.5px #000000, 0px 0px 0.5px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].thumb-slider::-ms-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].thumb-slider::-ms-fill-lower {
  background: #577f06;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.px 0.px 2px #000000, 0px 0px 0.px #0d0d0d;
}
input[type=range].thumb-slider::-ms-fill-upper {
  background: #689707;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.px 0.px 2px #000000, 0px 0px 0.px #0d0d0d;
}
input[type=range].thumb-slider::-ms-thumb {
  box-shadow: 0.5px 0.5px 0.5px #000000, 0px 0px 0.5px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 17px;
}
input[type=range].thumb-slider:focus::-ms-fill-lower {
  background: #689707;
}
input[type=range].thumb-slider:focus::-ms-fill-upper {
  background: #79af08;
}

.kafel-link:hover{
	cursor: pointer;
}

/*
	CSS3 transformations: rotate, flip, mirror
*/

img.x-rotated-0 {}
img.x-rotated-90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
img.x-rotated-180 {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
img.x-rotated-270 {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
img.x-mirrored-rotated-0 {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}
img.x-mirrored-rotated-90 {
	-moz-transform: rotate(90deg) scaleX(-1);
	-webkit-transform: rotate(90deg) scaleX(-1);
}
img.x-mirrored-rotated-180 {
	-moz-transform: rotate(180deg) scaleX(-1);
	-webkit-transform: rotate(180deg) scaleX(-1);
}
img.x-mirrored-rotated-270 {
	-moz-transform: rotate(270deg) scaleX(-1);
	-webkit-transform: rotate(270deg) scaleX(-1);
}
img.x-flipped-rotated-0 {
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}
img.x-flipped-rotated-90 {
	-moz-transform: rotate(90deg) scaleY(-1);
	-webkit-transform: rotate(90deg) scaleY(-1);
}
img.x-flipped-rotated-180 {
	-moz-transform: rotate(180deg) scaleY(-1);
	-webkit-transform: rotate(180deg) scaleY(-1);
}
img.x-flipped-rotated-270 {
	-moz-transform: rotate(270deg) scaleY(-1);
	-webkit-transform: rotate(270deg) scaleY(-1);
}
img.x-flipped-mirrored-rotated-0 {
	-moz-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
}
img.x-flipped-mirrored-rotated-90 {
	-moz-transform: rotate(90deg) scale(-1,-1);
	-webkit-transform: rotate(90deg) scale(-1,-1);
}
img.x-flipped-mirrored-rotated-180 {
	-moz-transform: rotate(180deg) scale(-1,-1);
	-webkit-transform: rotate(180deg) scale(-1,-1);
}
img.x-flipped-mirrored-rotated-270 {
	-moz-transform: rotate(270deg) scale(-1,-1);
	-webkit-transform: rotate(270deg) scale(-1,-1);
}
.btnface {
	height:30px;
	width:30px;
}
#rotate .btnface {
	background:url("rotateicons.png") no-repeat scroll 7px 50% transparent;
}
#flip .btnface {
	background:url("rotateicons.png") no-repeat scroll -65px 50% transparent;
}
#mirror .btnface {
	background:url("rotateicons.png") no-repeat scroll -30px 50% transparent;
}
