<%- include('header') %>


<% if (!user) { %>
<!-- KAFEL logowanie==================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption">
			<form action="/login" method="post">
				<div>
				<label>Użytkownik:</label>
				<input type="text" class="form-control" name="username"/><br/>
				</div>
				<div>
				<label> Hasło: </label>
				<input type="password" class="form-control" name="password"/>
				</div>
				<div>
				<input type="submit" class="btn btn-success" value="Loguj"/>
				</div>
			</form>
		</div>
	</div>
</div>

<% } else { %>

<!-- KAFEL serwa ===================================================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption">
			<h3>Ramie robota</h3>
			<p>Bark lewo/prawo. </p>
			<div class="form-group">
				<input class="thumb-slider" id="barkLP" type="range" name="barkLP" min="600" max="2400"> 
			</div>
			<p>Bark góra/dół.</p>
			<div class="form-group">
				<input class="thumb-slider" id="barkGD" type="range" name="barkGD" min="800" max="2000"> 
			</div>
			<p>Łokieć.</p>
			<div class="form-group">
				<input class="thumb-slider" id="lokiec" type="range" name="lokiec" min="900" max="2450"> 
			</div>
			<p>Nadgarstek.</p>
			<div class="form-group">
				<input class="thumb-slider" id="nadgarstek" type="range" name="nadgarstek" min="400" max="2400"> 
			</div>
			<p>Szczęki.</p>
			<div class="form-group">
				<input class="thumb-slider" id="szczeki" type="range" name="szczeki" min="820" max="1800"> 
			</div>


			<div id="test">0</div>
			<p id="serwa_prady">Serwa prądy 0.0A</p>
			<input type="button" class="btn btn-success" id="stopserwa" value="Stop serwa" />
			<input type="button" class="btn btn-success" id="zaparkuj_serwa" value="Zaparkuj" />
		</div>
	</div>
</div>
<!-- KAFEL wideo===================================================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption">
			<h3>Wideo</h3>
			<p id="xform">
			<input type="button" class="btn btn-success" id="rotate" value="ROTATE"/>
			<input type="button" class="btn btn-success" id="mirror" value="MIRROR"/>
			<input type="button" class="btn btn-success" id="flip" value="FLIP"/>
			</p>
			<p class="xform-p"></p>
			<p id="streamwrap" class="xform-p">
				<img id="streamimage" class="xform" src="" height="300" width="300"/>
				<canvas id="canvas-video" width="300" height="300"></canvas>
				<p id="wykryto_ruch"></p>
				<input type="checkbox" name="nagrywac_exe" id="nagrywac_exe" value="1" checked="checked" /> Wykrywaj ruch.
			</p>
		</div>
	</div>
</div>
<!-- KAFEL jazda ===================================================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption" id="jazda">
			<div class="device">
			<div class="device-button"></div>
			<div class="device-screen-wrapper">
				<div class="device-screen">
					<div id="hitarea" class="animate" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translate3d(235px, 100px, 0px) scale(1, 1) rotate3d(0, 0, 0, 0deg);"></div>
				</div>
			</div>
			</div>
			<div id="silniki_test">0</div>
			<div class="btn btn-success" id="stopsilniki" >Stop silniki </div>
			<p id="silniki_prady">Silnik lewy: 0.0A Silnik prawy: 0.0A</p>
		</div>
	</div>
</div>
<!-- KAFEL info =============================================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption">
			<h3>Temperatury</h3>
			<div class="form-group">
				<p id="pTemp1">Wewnątrz:</p><p id="pTemp2"Zewnątrz:></p> 
			</div>
			<h3>Napięcie zasilania</h3>
			<div class="form-group">
				<p id="napiecie">0V</p> 
			</div>
			<h3>Os info</h3>
			<div class="form-group">
				<p id="os_info0">os info</p> 
				<p id="os_info1">os info</p> 
				<p id="os_info2">os info</p> 
				<p id="os_info3">os info</p> 
				<p id="komunikacja">os info</p> 
			</div>

		</div>
	</div>
</div>
<!-- KAFEL ustawienia =============================================================== -->
<div class="col-sm-12 col-md-4">
	<div class="thumbnail text-center green-thumb">
		<div class="caption green-caption">
			<h3>ustawienia</h3>
			<div class="form-group">
				Próg prądu:<input type="text" class="btn btn-success" id="prog_pradu" value="80"/>
				<br/>Opóźnienie wyłączenia:<input type="text" class="btn btn-success" id="opoznienie" value="1200"/>
			</div>
		</div>
	</div>
</div>
<% } %>

<% if (user) { %>
<script type="text/javascript" src="/js/dotyk.js"></script>
<script type="text/javascript" src="/js/kamera.js"></script>


<% } %>
<%- include('stopka', {user: user}) %>




